   *,
   *:before,
   *:after{
       box-sizing: border-box;
   }
   
   .app{
       

    };
.wrap{
   
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}    
.select {
    width: 300px;
    margin: 0 auto  ;
    font-size: 16px;
    z-index: 100;
    font-family: serif;
    position: relative;
   display: flex;
   flex-direction: row;
    
    flex: 0 0 auto;
    transition: all 0.3s ease;
    // .select__input
    &.open{
        .select__dropdown{
            max-height: 200px;
            overflow-y: scroll;
        }
    }
    &__dropdown {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        transition: all 0.3s ease;
       max-height: 0px;
       position: absolute;
        overflow: hidden;
        transition: inherit;
      &::-webkit-scrollbar{
         display: none;
          border-radius: 5px;
          width: 7px;
      }
      &::-webkit-scrollbar-corner{
        background-color: rgba(37, 30, 30, 0.767);
      }
      
      }
     
    
    &__input {
       
        border: 2px solid rgba(37, 30, 30, 0.767);
        display: flex;
        padding: 8px 10px;
        border-radius: 5px;
        align-items: center;
        width: 100%;
        z-index: 2;
        background-color: white;
        font-size: 13px;
        font-weight: 700;
        position: relative;
        top: 0;
        text-align: left;
        transition: inherit;
        &::after{
            content: "";
            position: absolute;
            right: 5%;
            top: 45%;
            width: 10px;
            height: 10px;
            transition: all 0.2s ease;
            border-right: 3px solid rgb(37, 30, 30);
            border-top: 3px solid rgb(37, 30, 30);
            transform: rotate(-45deg);
          
         }
    @media (any-hover : hover) {     
        &:hover{
       
            &::after{
                
                transform: rotate(135deg);
                top:37%
            }
            background-color: #eee;
            
        }
    }
    }
    &__item {
        border: 2px solid rgba(37, 30, 30, 0.367);
        display: flex;
        padding: 8px 10px;
        border-radius: 5px;
        align-items: center;
        background-color: white;
        transition: all 0.2s ease;
        flex: 1 1 auto;
        &:hover{
            background-color: #eee;
           }
            
    }
}
